﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Employee Manager System</title>

    <style>
        h1 {
            margin-left: 40%;  
        }

        table {
            margin: 0 auto;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <script>
    $(document).ready(function () {
      getEmployeeList();
    });
    var Employee = {
      id: 0,
      name: "",
      gender: "", 
      salary: ""
    }

    // Get all Employees to display
    function getEmployeeList() {
      // Call Web API to get a list of Employees
      $.ajax({
        url: '/api/GetEmployees/',
        type: 'GET',
        dataType: 'json',
        success: function (emloyees) {
          employeeListSuccess(emloyees);
        },
        error: function (request, message, error) {
          handleException(request, message, error);
        }
      });
    }

    // Display all Employees returned from Web API call
    function employeeListSuccess(emloyees) {
      // Iterate over the collection of data
      $("#employeeTable tbody").remove();
      $.each(emloyees, function (index, emloyee) {
        // Add a row to the emloyee table
        emloyeeAddRow(emloyee);
      });
    }


    // Add emloyee row to <table>
    function emloyeeAddRow(emloyee) {
      // First check if a <tbody> tag exists, add one if not
      if ($("#employeeTable tbody").length == 0) {
        $("#employeeTable").append("<tbody></tbody>");
      }
      // Append row to <table>
      $("#employeeTable tbody").append(
        emloyeeBuildTableRow(emloyee));
    }

    // Build a <tr> for a row of table data
    function emloyeeBuildTableRow(emloyee) {
      var newRow = "<tr>" +
        "<td>" + emloyee.id + "</td>" +
        "<td><input  class='input-name' type='text' value='" + emloyee.name + "'/></td>" +
        "<td><input  class='input-gender'  type='text' value='" + emloyee.gender + "'/></td>" + 
        "<td><input  class='input-salary' type='text' value='" + emloyee.salary + "'/></td>" +
        "<td>" +
        "<button type='button' " +
        "onclick='employeeUpdate(this);' " +
        "class='btn btn-default' " +
        "data-id='" + emloyee.id + "' " +
        "data-name='" + emloyee.name + "' " +
        "data-gender='" + emloyee.gender + "' " + 
        "data-salary='" + emloyee.salary + "' " +
        ">" +
        "<span class='glyphicon glyphicon-edit' /> Update" +
        "</button> " +
        " <button type='button' " +
        "onclick='employeeDelete(this);'" +
        "class='btn btn-default' " +
        "data-id='" + emloyee.id + "'>" +
        "<span class='glyphicon glyphicon-remove' />Delete" +
        "</button>" +
        "</td>" +
        "</tr>";
      return newRow;
    }

    function onAddEmployee(item) {

      var options = {};
          options.url = "/api/AddEmployee";
          options.type = "POST";

      var obj = Employee;

          obj.name = $("#name").val();
          obj.gender = $("#gender").val(); 
          obj.salary = $("#salary").val();


          options.data = JSON.stringify(obj);
          options.contentType = "application/json";
          options.dataType = "html";

          options.success = function (msg) {
          getEmployeeList();
            $("#msg").html(msg);
          },
          options.error = function () {
              $("#msg").html("Error while calling the Web API!");
          };

      $.ajax(options);
    }

      function employeeUpdate(item) {

      var id = $(item).data("id");
      var options = {};
      options.url = "/api/UpdateEmployee/"
      options.type = "PUT";

      var obj = Employee;
      obj.id = $(item).data("id");
      obj.name = $(".input-name", $(item).parent().parent()).val(); 
      obj.gender = $(".input-gender", $(item).parent().parent()).val(); 
      obj.salary = $(".input-salary", $(item).parent().parent()).val();

      options.data = JSON.stringify(obj);
      options.contentType = "application/json";
      options.dataType = "html";
      options.success = function (msg) {
        $("#msg").html(msg);
      };
      options.error = function () {
        $("#msg").html("Error while calling the Web API!");
      };
      $.ajax(options);
    }

    function employeeDelete(item) {
      var id = $(item).data("id");
      var options = {};
      options.url = "/api/DeleteEmployee/"
        + id;
      options.type = "DELETE";
      options.dataType = "html";
      options.success = function (msg) {
        console.log('msg= ' + msg);
        $("#msg").html(msg);
        getEmployeeList();
      };
      options.error = function () {
        $("#msg").html("Error while calling the Web API!");
      };
      $.ajax(options);
    }

    // Handle exceptions from AJAX calls
    function handleException(request, message, error) {
      var msg = "";
      msg += "Code: " + request.status + "\n";
      msg += "Text: " + request.statusText + "\n";
      if (request.responseJSON != null) {
        msg += "Message" + request.responseJSON.Message + "\n";
      }
      alert(msg);
    }
    
    </script>
</head>
<body>
    <h1>Add new Employee</h1>
    <form>
        <table id="employeeTable" style="border: 1px solid #999" cellpadding="1">
            <thead>
                <tr>
                    <td>Id </td>
                    <td> Name </td>
                    <td> Gender </td> 
                    <td> Salary </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input id="name" type="text" /></td>
                    <td><input id="gender" type="text" /></td> 
                    <td><input id="salary" type="text" /></td>
                    <td><input type="button" id="insert" value="Insert" onclick='onAddEmployee(this)' /></td>
</thead>
        </table>
        <br />
        <div id="msg"></div>
    </form>

</body>
</html>
